header{
  background-color: #ffffff;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
nav a{
  text-decoration: none;
}
.logo{
  cursor: pointer;
}
.btn{
  border: none;
  background-color: #30b868;
  color: #ffffff;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}
.btn1{
  border: none;
  border-radius: 1000px;
  padding: 8px 12px;
  color: #30b868;
  background-color: #ffffff;
  cursor: pointer;
}
.btn2{
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 4px;
  padding: 12px 16px;
  background: transparent;
  cursor: pointer;
}
.menu{
  display: flex;
  gap: 32px;
  list-style-type: none;
}
#banner{
  margin: -10px;
  text-align: center;
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
#banner .banner-info{
  padding: 179.5px;
}
.banner-info h1{
  font-size: 72px;
  font-style: bold;
  line-height: 5px;
  padding: 16px 295px;
}
.h11{
  color: #ffffff;
}
.h12{
  color: #30b868;
}
#banner p{
  padding-bottom: 32px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}
.idea-container{
  text-align: center;
}
.idea-box{
  display: flex;
  justify-content: center;
  padding: 24px;
  gap: 24px;
  margin: 300px 300px;
}
.heading{
  margin-bottom: -250px;
}
.heading h1{
  font-weight: bold;
  font-size: 48px;
  margin: 50px auto 16px;
}
.idea-box img{
  background-color: #f95555;
  padding: 15px;
  border: none;
  border-radius: 40px;
}
.idea-card{
  padding: 60px 24px;
  box-shadow: 0 6px 50px #00000010;
}
.idea-card p{
  color: #627382;
}
.idea-card h3{
  font-size: 24px;
  color: #001931;
}
.solution{
  display: flex;
  justify-content: center;
  margin: -250px;
  padding: 120px;
  gap: 100px;
}
.solution img{
  size: 600px;
}
.solution .solution-info .p1{
  color: #30b868;
  font-size: 16px;
}
.solution .solution-info .p2{
  font-size: 16px;
  line-height: 30px;
}
.solution .solution-info h1{
  font-size: 48px;
  font-weight: bold;
}
.solution .solution-info ul{
  list-style: none;
  line-height: 40px;
  margin-left: -40px;
}