header{
  background-color: #ffffff;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
nav a{
  text-decoration: none;
}
.logo{
  cursor: pointer;
}
.btn{
  border: none;
  background-color: #30b868;
  color: #ffffff;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}
.btn1{
  border: none;
  border-radius: 1000px;
  padding: 8px 12px;
  color: #30b868;
  background-color: #ffffff;
  cursor: pointer;
}
.btn2{
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 4px;
  padding: 12px 16px;
  background: transparent;
  cursor: pointer;
}
.menu{
  display: flex;
  gap: 32px;
  list-style-type: none;
}
#banner{
  margin: -10px;
  text-align: center;
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
#banner .banner-info{
  padding: 179.5px;
}
.banner-info h1{
  font-size: 72px;
  font-style: bold;
  line-height: 5px;
  padding: 16px 295px;
}
.h11{
  color: #ffffff;
}
.h12{
  color: #30b868;
}
#banner p{
  padding-bottom: 32px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}
